@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* Arka plan: Slate-100 tonu, gözü yormaz ve kartları öne çıkarır */
  background-color: #f1f5f9 !important;
  color: #1e293b; /* Slate-800: Okunabilirliği yüksek koyu gri */
}